<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="khuyenMai">
            <h2><span jhiTranslate="bookDemoApp.khuyenMai.detail.title">Khuyen Mai</span> {{khuyenMai.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.tieuDe">Tieu De</span></dt>
                <dd>
                    <span>{{khuyenMai.tieuDe}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.noiDung">Noi Dung</span></dt>
                <dd>
                    <span>{{khuyenMai.noiDung}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.loaiApDung">Loai Ap Dung</span></dt>
                <dd>
                    <span>{{khuyenMai.loaiApDung}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.timeStart">Time Start</span></dt>
                <dd>
                    <span>{{khuyenMai.timeStart}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.timeEnd">Time End</span></dt>
                <dd>
                    <span>{{khuyenMai.timeEnd}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.mucKM">Muc KM</span></dt>
                <dd>
                    <span>{{khuyenMai.mucKM}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.khuyenMai.status">Status</span></dt>
                <dd>
                    <span>{{khuyenMai.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/khuyen-mai', khuyenMai.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
