<div>
    <h2 id="page-heading">
        <span jhiTranslate="bookDemoApp.hoaDon.home.title">Hoa Dons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hoa-don" [routerLink]="['/hoa-don/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bookDemoApp.hoaDon.home.createLabel">
            Create new Hoa Don
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hoaDons">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="khachHangId"><span jhiTranslate="bookDemoApp.hoaDon.khachHangId">Khach Hang Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loaiKH"><span jhiTranslate="bookDemoApp.hoaDon.loaiKH">Loai KH</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ngayLap"><span jhiTranslate="bookDemoApp.hoaDon.ngayLap">Ngay Lap</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenKHVangLai"><span jhiTranslate="bookDemoApp.hoaDon.tenKHVangLai">Ten KH Vang Lai</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addrKHVangLai"><span jhiTranslate="bookDemoApp.hoaDon.addrKHVangLai">Addr KH Vang Lai</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sdtKHVangLai"><span jhiTranslate="bookDemoApp.hoaDon.sdtKHVangLai">Sdt KH Vang Lai</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trangThaiNhan"><span jhiTranslate="bookDemoApp.hoaDon.trangThaiNhan">Trang Thai Nhan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trangThaiThanhToan"><span jhiTranslate="bookDemoApp.hoaDon.trangThaiThanhToan">Trang Thai Thanh Toan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="bookDemoApp.hoaDon.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hoaDon of hoaDons ;trackBy: trackId">
                <td><a [routerLink]="['/hoa-don', hoaDon.id, 'view' ]">{{hoaDon.id}}</a></td>
                <td>{{hoaDon.khachHangId}}</td>
                <td>{{hoaDon.loaiKH}}</td>
                <td>{{hoaDon.ngayLap | date:'medium'}}</td>
                <td>{{hoaDon.tenKHVangLai}}</td>
                <td>{{hoaDon.addrKHVangLai}}</td>
                <td>{{hoaDon.sdtKHVangLai}}</td>
                <td>{{hoaDon.trangThaiNhan}}</td>
                <td>{{hoaDon.trangThaiThanhToan}}</td>
                <td>{{hoaDon.note}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hoa-don', hoaDon.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hoa-don', hoaDon.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hoa-don/'+ hoaDon.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="hoaDons && hoaDons.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
