<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hoaDon">
            <h2><span jhiTranslate="bookDemoApp.hoaDon.detail.title">Hoa Don</span> {{hoaDon.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.hoaDon.khachHangId">Khach Hang Id</span></dt>
                <dd>
                    <span>{{hoaDon.khachHangId}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.loaiKH">Loai KH</span></dt>
                <dd>
                    <span>{{hoaDon.loaiKH}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.ngayLap">Ngay Lap</span></dt>
                <dd>
                    <span>{{hoaDon.ngayLap}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.tenKHVangLai">Ten KH Vang Lai</span></dt>
                <dd>
                    <span>{{hoaDon.tenKHVangLai}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.addrKHVangLai">Addr KH Vang Lai</span></dt>
                <dd>
                    <span>{{hoaDon.addrKHVangLai}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.sdtKHVangLai">Sdt KH Vang Lai</span></dt>
                <dd>
                    <span>{{hoaDon.sdtKHVangLai}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.trangThaiNhan">Trang Thai Nhan</span></dt>
                <dd>
                    <span>{{hoaDon.trangThaiNhan}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.trangThaiThanhToan">Trang Thai Thanh Toan</span></dt>
                <dd>
                    <span>{{hoaDon.trangThaiThanhToan}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.hoaDon.note">Note</span></dt>
                <dd>
                    <span>{{hoaDon.note}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hoa-don', hoaDon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
