<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-hoa-don-heading" jhiTranslate="bookDemoApp.hoaDon.home.createOrEditLabel">Create or edit a Hoa Don</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!hoaDon.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="hoaDon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.khachHangId" for="field_khachHangId">Khach Hang Id</label>
                    <input type="number" class="form-control" name="khachHangId" id="field_khachHangId"
                        [(ngModel)]="hoaDon.khachHangId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.loaiKH" for="field_loaiKH">Loai KH</label>
                    <input type="text" class="form-control" name="loaiKH" id="field_loaiKH"
                        [(ngModel)]="hoaDon.loaiKH" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.ngayLap" for="field_ngayLap">Ngay Lap</label>
                    <div class="d-flex">
                        <input id="field_ngayLap" type="datetime-local" class="form-control" name="ngayLap" [(ngModel)]="ngayLap"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.tenKHVangLai" for="field_tenKHVangLai">Ten KH Vang Lai</label>
                    <input type="text" class="form-control" name="tenKHVangLai" id="field_tenKHVangLai"
                        [(ngModel)]="hoaDon.tenKHVangLai" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.addrKHVangLai" for="field_addrKHVangLai">Addr KH Vang Lai</label>
                    <input type="text" class="form-control" name="addrKHVangLai" id="field_addrKHVangLai"
                        [(ngModel)]="hoaDon.addrKHVangLai" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.sdtKHVangLai" for="field_sdtKHVangLai">Sdt KH Vang Lai</label>
                    <input type="text" class="form-control" name="sdtKHVangLai" id="field_sdtKHVangLai"
                        [(ngModel)]="hoaDon.sdtKHVangLai" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.trangThaiNhan" for="field_trangThaiNhan">Trang Thai Nhan</label>
                    <input type="number" class="form-control" name="trangThaiNhan" id="field_trangThaiNhan"
                        [(ngModel)]="hoaDon.trangThaiNhan" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.trangThaiThanhToan" for="field_trangThaiThanhToan">Trang Thai Thanh Toan</label>
                    <input type="number" class="form-control" name="trangThaiThanhToan" id="field_trangThaiThanhToan"
                        [(ngModel)]="hoaDon.trangThaiThanhToan" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.hoaDon.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="hoaDon.note" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
