<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="bookDemoApp.book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.book.ten">Ten</span></dt>
                <dd>
                    <span>{{book.ten}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{book.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.tacGia">Tac Gia</span></dt>
                <dd>
                    <span>{{book.tacGia}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.nhaXB">Nha XB</span></dt>
                <dd>
                    <span>{{book.nhaXB}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.namXB">Nam XB</span></dt>
                <dd>
                    <span>{{book.namXB}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{book.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.giaNhap">Gia Nhap</span></dt>
                <dd>
                    <span>{{book.giaNhap}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.giaBanGoc">Gia Ban Goc</span></dt>
                <dd>
                    <span>{{book.giaBanGoc}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.giaKM">Gia KM</span></dt>
                <dd>
                    <span>{{book.giaKM}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.loai">Loai</span></dt>
                <dd>
                    <span>{{book.loai}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.soLuongCon">So Luong Con</span></dt>
                <dd>
                    <span>{{book.soLuongCon}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.soLuongNhap">So Luong Nhap</span></dt>
                <dd>
                    <span>{{book.soLuongNhap}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.soLanXem">So Lan Xem</span></dt>
                <dd>
                    <span>{{book.soLanXem}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.book.note">Note</span></dt>
                <dd>
                    <span>{{book.note}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
