<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-book-heading" jhiTranslate="bookDemoApp.book.home.createOrEditLabel">Create or edit a Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!book.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="book.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.ten" for="field_ten">Ten</label>
                    <input type="text" class="form-control" name="ten" id="field_ten"
                        [(ngModel)]="book.ten" required/>
                    <div [hidden]="!(editForm.controls.ten?.dirty && editForm.controls.ten?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ten?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="book.imageUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.tacGia" for="field_tacGia">Tac Gia</label>
                    <input type="text" class="form-control" name="tacGia" id="field_tacGia"
                        [(ngModel)]="book.tacGia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.nhaXB" for="field_nhaXB">Nha XB</label>
                    <input type="text" class="form-control" name="nhaXB" id="field_nhaXB"
                        [(ngModel)]="book.nhaXB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.namXB" for="field_namXB">Nam XB</label>
                    <input type="text" class="form-control" name="namXB" id="field_namXB"
                        [(ngModel)]="book.namXB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.moTa" for="field_moTa">Mo Ta</label>
                    <input type="text" class="form-control" name="moTa" id="field_moTa"
                        [(ngModel)]="book.moTa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.giaNhap" for="field_giaNhap">Gia Nhap</label>
                    <input type="number" class="form-control" name="giaNhap" id="field_giaNhap"
                        [(ngModel)]="book.giaNhap" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.giaBanGoc" for="field_giaBanGoc">Gia Ban Goc</label>
                    <input type="number" class="form-control" name="giaBanGoc" id="field_giaBanGoc"
                        [(ngModel)]="book.giaBanGoc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.giaKM" for="field_giaKM">Gia KM</label>
                    <input type="number" class="form-control" name="giaKM" id="field_giaKM"
                        [(ngModel)]="book.giaKM" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.loai" for="field_loai">Loai</label>
                    <input type="text" class="form-control" name="loai" id="field_loai"
                        [(ngModel)]="book.loai" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.soLuongCon" for="field_soLuongCon">So Luong Con</label>
                    <input type="number" class="form-control" name="soLuongCon" id="field_soLuongCon"
                        [(ngModel)]="book.soLuongCon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.soLuongNhap" for="field_soLuongNhap">So Luong Nhap</label>
                    <input type="number" class="form-control" name="soLuongNhap" id="field_soLuongNhap"
                        [(ngModel)]="book.soLuongNhap" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.soLanXem" for="field_soLanXem">So Lan Xem</label>
                    <input type="number" class="form-control" name="soLanXem" id="field_soLanXem"
                        [(ngModel)]="book.soLanXem" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.book.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="book.note" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
