<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nhaXuatBan">
            <h2><span jhiTranslate="bookDemoApp.nhaXuatBan.detail.title">Nha Xuat Ban</span> {{nhaXuatBan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.nhaXuatBan.ten">Ten</span></dt>
                <dd>
                    <span>{{nhaXuatBan.ten}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.nhaXuatBan.diaChi">Dia Chi</span></dt>
                <dd>
                    <span>{{nhaXuatBan.diaChi}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.nhaXuatBan.sdt">Sdt</span></dt>
                <dd>
                    <span>{{nhaXuatBan.sdt}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.nhaXuatBan.chietKhau">Chiet Khau</span></dt>
                <dd>
                    <span>{{nhaXuatBan.chietKhau}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nha-xuat-ban', nhaXuatBan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
