<div>
    <h2 id="page-heading">
        <span jhiTranslate="bookDemoApp.nhaXuatBan.home.title">Nha Xuat Bans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nha-xuat-ban" [routerLink]="['/nha-xuat-ban/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bookDemoApp.nhaXuatBan.home.createLabel">
            Create new Nha Xuat Ban
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nhaXuatBans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ten"><span jhiTranslate="bookDemoApp.nhaXuatBan.ten">Ten</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diaChi"><span jhiTranslate="bookDemoApp.nhaXuatBan.diaChi">Dia Chi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sdt"><span jhiTranslate="bookDemoApp.nhaXuatBan.sdt">Sdt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chietKhau"><span jhiTranslate="bookDemoApp.nhaXuatBan.chietKhau">Chiet Khau</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nhaXuatBan of nhaXuatBans ;trackBy: trackId">
                <td><a [routerLink]="['/nha-xuat-ban', nhaXuatBan.id, 'view' ]">{{nhaXuatBan.id}}</a></td>
                <td>{{nhaXuatBan.ten}}</td>
                <td>{{nhaXuatBan.diaChi}}</td>
                <td>{{nhaXuatBan.sdt}}</td>
                <td>{{nhaXuatBan.chietKhau}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nha-xuat-ban', nhaXuatBan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nha-xuat-ban', nhaXuatBan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nha-xuat-ban/'+ nhaXuatBan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nhaXuatBans && nhaXuatBans.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
