<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gioHang">
            <h2><span jhiTranslate="bookDemoApp.gioHang.detail.title">Gio Hang</span> {{gioHang.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.gioHang.token">Token</span></dt>
                <dd>
                    <span>{{gioHang.token}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.gioHang.cTDHId">C TDH Id</span></dt>
                <dd>
                    <span>{{gioHang.cTDHId}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.gioHang.userId">User Id</span></dt>
                <dd>
                    <span>{{gioHang.userId}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.gioHang.dateUpdate">Date Update</span></dt>
                <dd>
                    <span>{{gioHang.dateUpdate}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.gioHang.status">Status</span></dt>
                <dd>
                    <span>{{gioHang.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gio-hang', gioHang.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
