<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cTDH">
            <h2><span jhiTranslate="bookDemoApp.cTDH.detail.title">CTDH</span> {{cTDH.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.cTDH.sachId">Sach Id</span></dt>
                <dd>
                    <span>{{cTDH.sachId}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.cTDH.soLuong">So Luong</span></dt>
                <dd>
                    <span>{{cTDH.soLuong}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.cTDH.thanhTien">Thanh Tien</span></dt>
                <dd>
                    <span>{{cTDH.thanhTien}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ctdh', cTDH.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
