<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quang-cao-heading" jhiTranslate="bookDemoApp.quangCao.home.createOrEditLabel">Create or edit a Quang Cao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quangCao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quangCao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.tieuDe" for="field_tieuDe">Tieu De</label>
                    <input type="text" class="form-control" name="tieuDe" id="field_tieuDe"
                        [(ngModel)]="quangCao.tieuDe" required/>
                    <div [hidden]="!(editForm.controls.tieuDe?.dirty && editForm.controls.tieuDe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tieuDe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.noiDung" for="field_noiDung">Noi Dung</label>
                    <input type="text" class="form-control" name="noiDung" id="field_noiDung"
                        [(ngModel)]="quangCao.noiDung" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="quangCao.imageUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.timeStart" for="field_timeStart">Time Start</label>
                    <div class="d-flex">
                        <input id="field_timeStart" type="datetime-local" class="form-control" name="timeStart" [(ngModel)]="timeStart"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.timeEnd" for="field_timeEnd">Time End</label>
                    <div class="d-flex">
                        <input id="field_timeEnd" type="datetime-local" class="form-control" name="timeEnd" [(ngModel)]="timeEnd"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookDemoApp.quangCao.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                        [(ngModel)]="quangCao.link" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
