<div>
    <h2 id="page-heading">
        <span jhiTranslate="bookDemoApp.quangCao.home.title">Quang Caos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quang-cao" [routerLink]="['/quang-cao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bookDemoApp.quangCao.home.createLabel">
            Create new Quang Cao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="quangCaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tieuDe"><span jhiTranslate="bookDemoApp.quangCao.tieuDe">Tieu De</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noiDung"><span jhiTranslate="bookDemoApp.quangCao.noiDung">Noi Dung</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="bookDemoApp.quangCao.imageUrl">Image Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeStart"><span jhiTranslate="bookDemoApp.quangCao.timeStart">Time Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeEnd"><span jhiTranslate="bookDemoApp.quangCao.timeEnd">Time End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="link"><span jhiTranslate="bookDemoApp.quangCao.link">Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quangCao of quangCaos ;trackBy: trackId">
                <td><a [routerLink]="['/quang-cao', quangCao.id, 'view' ]">{{quangCao.id}}</a></td>
                <td>{{quangCao.tieuDe}}</td>
                <td>{{quangCao.noiDung}}</td>
                <td>{{quangCao.imageUrl}}</td>
                <td>{{quangCao.timeStart | date:'medium'}}</td>
                <td>{{quangCao.timeEnd | date:'medium'}}</td>
                <td>{{quangCao.link}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quang-cao', quangCao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quang-cao', quangCao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quang-cao/'+ quangCao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quangCaos && quangCaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
