<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quangCao">
            <h2><span jhiTranslate="bookDemoApp.quangCao.detail.title">Quang Cao</span> {{quangCao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookDemoApp.quangCao.tieuDe">Tieu De</span></dt>
                <dd>
                    <span>{{quangCao.tieuDe}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.quangCao.noiDung">Noi Dung</span></dt>
                <dd>
                    <span>{{quangCao.noiDung}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.quangCao.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{quangCao.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.quangCao.timeStart">Time Start</span></dt>
                <dd>
                    <span>{{quangCao.timeStart}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.quangCao.timeEnd">Time End</span></dt>
                <dd>
                    <span>{{quangCao.timeEnd}}</span>
                </dd>
                <dt><span jhiTranslate="bookDemoApp.quangCao.link">Link</span></dt>
                <dd>
                    <span>{{quangCao.link}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quang-cao', quangCao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
